.hero-section {
    text-align: center;
    margin: 0;
    padding-top: 2rem;
}

.castle-container {
    margin-top: -2rem;
}

.castle-img {
    max-width: 350px;
    width: 100%;
    height: auto;
}

.hero-intro .typewriter {
    font-family: var(--font-main);
    font-size: 1.2rem;
    color: var(--color-text);
}

.hero-intro {
    font-size: 1rem;
    color: var(--color-text);
}

/* Lägg till i src/components/Hero/Hero.css */
@media (max-width: 600px) {
    /* .hero-section {
        padding-top: 2rem;
    } */

    .castle-img {
        max-width: 300px; /* Något mindre slott på mobilen */
    }

    .hero-intro .typewriter {
        font-size: 1rem;
        padding: 0 15px;
    }
}