.hero-section {
    /* padding: 60px 20px; */
    padding-top: 2rem;
    text-align: center;
}

.castle-img {
    max-width: 300px; /* Justera efter smak */
    width: 100%;
    height: auto;
}

.hero-intro .typewriter {
    font-family: var(--font-text);
    font-size: 1.2rem;
    color: var(--color-text);
    margin-bottom: 10px;
}

.hero-intro {
    font-size: 1rem;
    color: #5D1212;
    opacity: 0.8;
}