.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-bg-beige);
    padding-top: 1rem;
}

.header h1 {
    padding: 0;
    margin: 1rem;
}

h1 {
    font-size: 3rem;
    font-family: var(--font-main);
    color: var(--color-text);
    /* color: black; */
}

@media (max-width: 600px) {
    .header h1 {
        font-size: clamp(2rem, 8vw, 2.5rem); 
        white-space: nowrap;
        margin: 0.8rem 0;
    }
}
